html{
    box-sizing: border-box;
}
    
*::before,
*::after{box-sizing: inherit;
}
ul{
    border: 4px double rgb(0, 0, 0);
    padding: 30px;
    width: 200px;
    margin: auto;
    
}
*{ 
    background-color: beige;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
}
.recipes{
    background-color: beige(211, 238, 255);
    color: rgb(0, 0, 0);
}
.top{ 
    color: white;
    background-color: black;
}
button{
    padding: 10px;
    width: 150px;
    margin: auto;
    background-color: black;
    color: white;
    display: block;
}
